@import "/styles/variables";

.navigation {
  position: fixed;
  width: 100%;
  z-index: 1000;

  background-color: $white;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBrand {
  img {
    width: 8em;
  }
}

.navLinks {
  display: flex;
  margin: 0;
  margin-left: 1.5em;
  padding: 0;

  list-style-type: none;

  a {
    display: block;
    padding: 2.2em 1em;

    font-size: 0.8em;

    color: $grayish-blue;
    background: transparent bottom $white no-repeat;
    background-size: 0 0.3em;
    transition: background-size 0.1s ease-in-out;

    &:hover,
    &:focus {
      background: $primary-gradient bottom $white no-repeat;
      background-size: 65% 0.3em;
      color: $dark-blue;
    }
  }
}
