@import '../../styles/variables';

.container {
  padding: 1em;
  width: 11.5em;
  border-radius: 5em;
  border: 0;

  font-weight: 700;

  background: $primary-gradient;
  color: $white;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
