@import '/styles/variables';

.container {
  position: relative;
  padding: 3.5em 0;

  background-color: $light-grayish-blue;

  h2,
  h3 {
    color: $dark-blue;
    font-weight: 300;
  }

  h2 {
    margin-top: 1.1em;
    font-size: 2.15em;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 1.5em 0;
    text-align: center;

    h2 {
      font-size: 1.75em;
    }
  }
}
