@import "/styles/variables";

.footer {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background-color: $dark-blue;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.footerSocialLinks {
  margin-top: 3em;

  a {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.7em;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .facebookLogo {
    background-image: url("/images/icon-facebook.svg");

    &:hover,
    &:focus {
      background-image: url("/images/icon-facebook-lima.svg");
    }
  }

  .youtubeLogo {
    background-image: url("/images/icon-youtube.svg");

    &:hover,
    &:focus {
      background-image: url("/images/icon-youtube-lima.svg");
    }
  }

  .twitterLogo {
    background-image: url("/images/icon-twitter.svg");

    &:hover,
    &:focus {
      background-image: url("/images/icon-twitter-lima.svg");
    }
  }

  .pinterestLogo {
    background-image: url("/images/icon-pinterest.svg");

    &:hover,
    &:focus {
      background-image: url("/images/icon-pinterest-lima.svg");
    }
  }

  .instagramLogo {
    background-image: url("/images/icon-instagram.svg");

    &:hover,
    &:focus {
      background-image: url("/images/icon-instagram-lima.svg");
    }
  }
}

.footerLinks {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 7em;
  margin-left: -11.5em;

  a {
    font-size: 0.8em;
    color: $white;

    &:hover,
    &:focus {
      color: $lime-green;
    }
  }
}

.footerRights {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rights {
  margin-top: 2em;
  font-size: 0.8em;
  color: $grayish-blue;
}

@media only screen and (max-width: 1350px) {
  .footerLinks {
    column-gap: 5em;
    margin-left: 0;
  }
}
