@import "./variables";

.showcase {
  position: relative;
  padding: 10em 0;

  background-color: $very-light-gray;

  h2 {
    margin-top: 1.3em;

    font-weight: 300;
    font-size: 3em;

    color: $dark-blue;
  }

  p {
    margin-top: -1.2em;
    margin-bottom: 2.1em;

    font-size: 1em;
    line-height: 1.5em;

    color: $grayish-blue;
  }
}

.bgIntroDesktop,
.bgIntroMockups {
  position: absolute;
}

.bgIntroDesktop {
  width: 88%;
  transform: translate(23.5%, -67.5%);
}

.bgIntroMockups {
  z-index: 900;
  width: 53%;
  transform: translate(62.5%, -60%);
}

.benefits {
  position: relative;
  z-index: 100;
  padding: 3.5em 0;
  height: 100vh;

  background-color: $light-grayish-blue;

  h2,
  h3 {
    color: $dark-blue;
    font-weight: 300;
  }

  h2 {
    margin-top: 1.1em;
    font-size: 2em;
  }

  p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: $grayish-blue;
  }

  .benefitsList {
    display: flex;
    margin-top: 4em;
  }

  .benefitItem {
    margin-right: 1.6em;
  }

  .benefitTitle {
    font-size: 1.4em;
  }

  .benefitDescription {
    font-size: 0.8em;
  }

  .benefitIcon {
    margin-bottom: 0.7em;
  }
}

.latestArticles {
  height: 100vh;

  background-color: $very-light-gray;

  h2 {
    font-weight: 300;
    font-size: 2.1em;

    color: $dark-blue;
  }

  .articlesList {
    display: flex;
  }

  .articleItem {
    border-radius: 0.3em;
    background-color: $white;
    margin-right: 1.6em;
  }

  .articleImage {
    border-radius: 0.3em 0.3em 0 0;
    width: 13.3em;
    height: 10.5em;
    object-fit: cover;
  }

  .articleBody {
    padding: 0.5em 1.2em;
  }

  .articleAuthor {
    font-size: 0.6em;
    color: $grayish-blue;
  }

  .articleTitle {
    font-weight: 300;
    color: $dark-blue;
  }

  .articleContent {
    font-size: 0.7em;
    color: $grayish-blue;
  }
}
